body {
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    color: #fff;
}

h1 {
    font-size: 60px;
    font-weight: 700;
    line-height: 60.35px;
}

h2 {
    font-size: 35px;
    font-weight: 700;
    line-height: 41px;
}

.wrapper {
    background-color: #849d8f;     /*Цвет фона указан, чтобы был виден текст*/
    width: 100%;
}
